.Header
{
  width: 100%;
  background-color: #0146A6;
  .Header__Nav
  {
    padding: 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .Header__Nav__Logo
    {
      font-size: 23px;
      font-weight: 100;
      margin-bottom: 0;
      letter-spacing: 1px;
      text-transform: uppercase;
      a
      {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.9);
        &:hover, &:focus, &:active
        {
          color: #fff;
        }
      }
    }
    .Header__Nav__List
    {
      text-align: left;
      list-style: none;
      list-style-type: none;
      padding: 0;
      margin-bottom: 0;
      margin-top: 10px;
      li
      {
        display: inline-block;
        margin-right: 15px;
        a
        {
          margin: 0;
          font-size: 13px;
          font-weight: 300;
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: rgba(255, 255, 255, 0.7);
          &:hover, &:focus, &:active
          {
            color: #fff;
          }
        }
        &:last-child
        {
          margin-right: 0;
        }
      }
    }
  }
  .Header__Section
  {
    padding: 40px 0;
    text-align: center;
    .Header__Section__Category
    {
      text-align: center;
      font-weight: 100;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.7);
      &:hover, &:focus, &:active
      {
        color: #fff;
      }
    }
    .Header__Section__Image
    {
      padding: 30px 0;
      img
      {
        width: 128px;
        height: 128px;
      }
    }
    h1
    {
      font-size: 32px;
      font-weight: 300;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.9);
    }
    h2
    {
      font-size: 16px;
      font-weight: 200;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 45px;
    }
    .Header__Section__Infos
    {
      font-size: 13px;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.7);
      .four
      {
        text-align: center;
        margin-top: 15px;
      }
      // .Header__Section__Infos__Author
      // {
      //   text-align: center;
      // }
      // .Header__Section__Infos__Date
      // {
      //   text-align: center;
      // }
      // .Header__Section__Infos__Share
      // {
      //   text-align: center;
      // }
    }
  }
}

@media (min-width: 550px) {
  .Header
  {
    .Header__Nav
    {
      padding: 30px 0;
      padding-bottom: 25px;
      .Header__Nav__List
      {
        text-align: right;
        margin-top: 0;
        li
        {
          margin-right: 20px;
          a
          {
            padding: 5px;
          }
        }
      }
    }
    .Header__Section
    {
      .Header__Section__Infos
      {
        .Header__Section__Infos__Author
        {
          text-align: right;
        }
        .Header__Section__Infos__Date
        {
          // text-align: center;
        }
        .Header__Section__Infos__Share
        {
          text-align: left;
        }
      }
    }
  }
}
