.Nav
{
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;
  padding: 18px 0;
  position: absolute;
  // background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  .Nav__Logo
  {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 100;
    .Nav__Link
    {
      // color: rgba(255, 255, 255, 0.9);
    }
  }
  .Nav__List
  {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 4px;
    li
    {
      margin: 0;
      display: inline-block;
      margin-right: 15px;
      .Nav__Link
      {
        font-size: 12px;
        font-weight: 300;
      }
      &:last-child
      {
        margin-right: 0;
      }
    }
  }
  .Nav__Link
  {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.8);
    &:hover, &:focus, &:active
    {
      color: #fff;
    }
  }
}

@media (min-width: 550px)
{
  .Nav
  {
    padding: 31px 0;
    .Nav__Logo
    {
      font-size: 23px;
    }
    .Nav__List
    {
      margin-top: 0;
      text-align: right;
      li
      {
        margin-right: 25px;
        .Nav__Link
        {
          font-size: 13px;
        }
      }
    }
  }
}
