.Post__Content
{
  padding: 50px 0;
  color: #000;
  font-weight: 400;
  text-align: justify;
  line-height: 32px;
}
.Post__Footer
{
  border-top: 1px solid #ddd;
  background-color: #fafafa;
  padding-top: 30px;
  padding-bottom: 15px;
  .six
  {
    text-align: center;
    margin-bottom: 15px;
    .button
    {
      margin: 0;
    }
  }
}

@media (min-width: 550px)
{
  .Post__Footer
  {
    .six
    {
      text-align: right;
      &:first-child
      {
        text-align: left;
      }
    }
  }

}
