<header class="Nav">
  <div class="container">
    <h1 class="three columns Nav__Logo">
      <a href="/" class="Nav__Link">
        CHOPIN
      </a>
    </h1>
    <nav class="nine columns">
      <ul class="Nav__List">
        <li>
          <a href="/articles" class="Nav__Link">
            Articles
          </a>
        </li>
        <li>
          <a href="/tutoriels" class="Nav__Link">
            Tutoriels
          </a>
        </li>
        <li>
          <a href="/formations" class="Nav__Link">
            Formations
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
