{% include head.html %}

{% include nav.html %}

<article class="Post" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href="{{ page.url | prepend: site.url }}">
  <header class="Banner" {% if page.color %} style="background-color: #{{ page.color }}"{% endif %}>
    <div class="container">
      {% if page.logo %}
      <div class="Banner__Image">
        <img src="{{ page.logo }}" alt="Logo Article" />
      </div>
      {% endif %}
      {% if page.title %}
      <h1 itemprop="headline">
        {{ page.title }}
      </h1>
      {% endif %}
      {% if page.description %}
      <h2 itemprop="description">
        {{ page.description }}
      </h2>
      {% endif %}
      <div class="row Banner__Infos">
        <div class="four columns Banner__Infos__Share">
          {% if page.categories %}
          <a href="/{{ page.categories | join: '/' }}">
            {{ page.categories | last }}
          </a>
          {% endif %}
        </div>
        <div class="four columns Banner__Infos__Author">
          <div class="Banner__Infos__Author__Block">
            {% if site.authors[page.author].avatar %}
              <img src="{{ site.authors[page.author].avatar }}?s=32" alt="Author photo" />
            {% endif %}
            <a href="/auteurs/{{ page.author }}" itemprop="author">
              {{ site.authors[page.author].name }}
            </a>
          </div>
        </div>
        <div class="four columns Banner__Infos__Date">
          <meta itemprop="datePublished" content="{{ page.date }}">
          <time datetime="{{ page.date | date: "%F" }}">{{ page.date | date: "%-d %B, %Y" }}</time>
        </div>
      </div>
    </div>
  </header>
  <section class="Post__Content">
    <main class="container" itemprop="articleBody">
      {{ content }}
    </main>
  </section>
  {% if page.previous || page.next %}
  <footer class="Post__Footer">
    <div class="container">
      <div class="six columns">
        {% if page.previous %}
          <a class="button" href="{{ page.previous.url }}">
            {{ page.previous.title }}
          </a>
        {% endif %}
      </div>
      <div class="six columns">
        {% if page.next %}
          <a class="button" href="{{ page.next.url }}">
            {{ page.next.title }}
          </a>
        {% endif %}
      </div>
    </div>
  </footer>
  {% endif %}
</article>

{% include footer.html %}
